html * {
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
}
h1,h2,h3,h4,h5,h6,div,span,a {
    color: var(--tg-theme-text-color);
    font-family: 'Arial', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    outline: none;
    border: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    width: 250px;
    height: 70px;
    font-size: 16px;
    border-radius: 50px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
