@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
    
}
h1,h2,h3,h4,h5,h6,div,span,a {
    color: var(--tg-theme-text-color);
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    outline: none;
    border: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    width: 195px;
    height: 50px;
    font-size: 16px;
    border-radius: 70px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn {
    padding: 20px 10px;
    margin-top: 20px;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.registration {
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration h1 {
    font-size: 40px;
    text-align: center;
}
.registration form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 320px;
    height: 400px;

    padding: 20px 0;
    background-color: transparent;
}

.registration__line {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 290px;

    font-size: 12px;
}
.registration__line input:focus {
    outline: none;
}
.registration__line input {
    width: 290px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--tg-theme-text-color);
    color: var(--tg-theme-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 0 10px;
}
